name: Aggiorna Playlist

on:
  schedule:
    - cron: "*/30 * * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install dependencies
      run: |
        pip install playwright requests
        playwright install chromium

    - name: Esegui script merge
      run: python merge.py

    - name: Aggiorna Gist
      env:
        GIST_TOKEN: ${{ secrets.GIST_TOKEN }}
      run: |
        gist_id="b71033bb6af056f644c1b5890fd75c99"
        file="solo_sky.m3u"

        curl -X PATCH \
          -H "Authorization: token $GIST_TOKEN" \
          -H "Content-Type: application/json" \
          -d "{\"files\": {\"solo_sky.m3u\": {\"content\": \"$(sed 's/\"/\\"/g' $file)\"}}}" \
          https://api.github.com/gists/$gist_id
